image: epigenesys/rails

stages:
  - test

cache:
  # Change this to the name of your project
  key: 'epi-cas'
  paths:
    - .bundle
    - vendor/gems

rspec:
  stage: test

  script:
    - bundle check --path vendor/gems || bundle install --path vendor/gems --jobs $(nproc)
    - bundle exec rake
